# Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Test reports
test-output/
reports/

# Playwright reports
playwright-report/

# Environment files
.env
*.local.properties